[Unit]
Description=MariaDB database server
After=network.target

[Service]
Type=forking
User=mysql
Group=mysql
PIDFile=/var/run/mariadb/mariadb.pid
ExecStart=/usr/local/bin/mariadbd --daemonize --pid-file=/var/run/mariadb/mariadb.pid
ExecStop=/usr/local/bin/mysqladmin shutdown
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=true

[Install]
WantedBy=multi-user.target
