[Unit]
Description=MariaDB database server
After=network.target

[Service]
Type=forking
User=mysql
Group=mysql
ExecStart=/usr/local/bin/mariadbd --daemonize
ExecStop=/usr/local/bin/mysqladmin shutdown
Restart=always
RestartSec=10s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
