[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Type=forking
PIDFile=/var/run/php-fpm/php-fpm.pid
ExecStart=/usr/local/bin/php-fpm --nodaemonize --fpm-config /etc/php-fpm.conf
ExecStop=/bin/kill -SIGQUIT $MAINPID
ExecReload=/bin/kill -SIGUSR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
